:root {
  --background: #d6eaf2;
  --buttonGroupARGB: 253, 202, 206;
  /** as RGB values instead of hex - so that the color can have a calculated transparent */
  --buttonGroupBRGB: 102, 30, 42;

  --buttonFontColor: white;

  /** calculated these from values above */
  --buttonGroupA: rgba(var(--buttonGroupARGB), 1);
  --buttonGroupB: rgba(var(--buttonGroupBRGB), 1);
  --buttonGroupASemiTransparent: rgba(var(--buttonGroupARGB), 0.76);
  --buttonGroupBSemiTransparent: rgba(var(--buttonGroupBRGB), 0.76);
}

textarea, #colorHexTable * {
  font-family: monospace;
}

body {
  background-color: var(--background);
  width: 80%;
  margin: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px black solid; */
  margin: 5px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.row {
  flex-direction: row;
}

table {
  min-width: 200px;
  width: 100%;
}

table, tr, td, input[type="color"] {
  margin: 0;
  padding: 0;
}

td button {
  width: 90%;
}

td {
  text-align: center;
}

input[type="range"] {
  min-width: 200px;
  width: 90%;
  text-align: center;
}

.center {
  text-align: center;
  justify-content: center;
}

canvas {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 8px;
}

.horizontal {
  text-align: center;
}

button {
  background-color: var(--buttonGroupASemiTransparent);
  border: 3px solid var(--buttonGroupBSemiTransparent);
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 0;
  color: var(--buttonFontColor)

}

button:hover {
  background-color: var(--buttonGroupA);
  border: 3px solid var(--buttonGroupB);
}

.hidden {
  display: none !important;
}

.lock-button {
  background-color: var(--background);
  border: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  color: var(--buttonGroupA)
}

.lock-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  color: #bbb;
  background-image: url('./lock-solid.svg');
  background-repeat: no-repeat;
}

.unlock-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url('./unlock-solid.svg');
  background-repeat: no-repeat;
}

.lock-button:hover {
  background-color: var(--background);
  border: none;
}

span {
  display: flex;
  justify-content: center
}

.slider {
  height: 4px;
  background: rgb(179, 179, 179);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 8px;
  border-radius: 4px;
}

input[type=range].slider-hue,input[type=range].slider-saturation,input[type=range].slider-brightness {
  appearance: none;
  -webkit-appearance: none;
  /* remove default styling in Chrome */
  width: 90%;
  height: 4px;
  background: transparent;
  /* we’ll style the track separately */
  margin: 8px;
  border-radius: 4px;
}

/* Thumb styles for Chrome */
input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  /* Align thumb vertically */
  cursor: pointer;
}

/* Thumb styles for Firefox */
input[type=range].slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type=range].slider-hue {
  background: linear-gradient(180deg,
      #6e40aa,
      #be3caf,
      #fe4b83,
      #ff7747,
      #e3b62f,
      #b0ef5a,
      #53f666,
      #1edfa2,
      #23acd8,
      #4c6fdc);
}

input[type=range].slider-saturation {
  background: linear-gradient(90deg, #888, #ff2929);
}

input[type=range].slider-brightness {
  background: linear-gradient(90deg, #000, #fff);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: url('selector-icon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: 0;
  background: url('selector-icon.png');
  cursor: pointer;
}